@use 'base/variables' as v;
@use 'base/mixins' as m;

%boton-base {
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-weight: v.$bold;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.3s, box-shadow 0.3s;
    display: inline-block;
    width: 100%;

    @media (min-width: v.$tablet) {
        width: auto;
    }

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    &:active {
        transform: translateY(0);
    }
}

.boton {
    @extend %boton-base;
    @include m.boton(v.$azul, v.$blanco);

    &:hover {
        background-color: v.$azul-oscuro;
    }
}

.boton-eliminar {
    @extend %boton-base;
    @include m.boton(v.$rojo, v.$blanco);

    &:hover {
        background-color: darken(v.$rojo, 10%);
    }
}
