@use '../base/variables' as v;
@use '../base/mixins' as m;

.formulario {
    max-width: 60rem;
    margin: 0 auto;
}

.campo {
    margin-bottom: 2rem;

    label {
        display: block;
        font-weight: 700;
        margin-bottom: 0.5rem;
        font-size: 2rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="date"],
    input[type="time"] {
        width: 100%;
        padding: 1.5rem;
        border: 1px solid v.$gris;
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }
}