@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-barberos {
    display: grid;
    gap: 2rem;
    @include m.tablet {
        @include m.grid(3, 2rem);
    }

    .barbero {
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 1rem;
        text-align: center;
        cursor: pointer;
        border: 2px solid transparent;
        transition: transform 300ms, box-shadow 300ms, border-color 300ms;

        &:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
        }

        &.seleccionado {
            border-color: v.$azul;
            transform: scale(1.05);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

            &::after {
                content: '✔';
                position: absolute;
                top: -10px;
                right: -10px;
                background-color: v.$azul;
                color: v.$blanco;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 1.2rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            }
        }

        position: relative;

        &__icono {
            font-size: 4rem;
            margin: 0 0 1rem 0;
        }

        &__nombre {
            color: v.$negro;
            font-weight: v.$bold;
            font-size: 2rem;
            margin: 0 0 0.5rem 0;
        }

        &__especialidad {
            color: v.$gris-oscuro;
            margin: 0;
            font-size: 1.4rem;
        }
    }
}
